/* Variables */
/* Base */
/* line 9, ../sass/app.scss */
html, body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/app.scss */
.site-content {
  background-color: gray;
}

/* line 22, ../sass/app.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 27, ../sass/app.scss */
.container {
  margin: 0 20px;
  margin-bottom: 150px;
  overflow: hidden;
  *zoom: 1;
}

/* line 33, ../sass/app.scss */
.site-content {
  padding-top: 66px;
}

/* Header */
/* line 39, ../sass/app.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #FFF;
  background-color: #6D071A;
}

/* line 49, ../sass/app.scss */
.header__logo {
  font-weight: bold;
  width: 50px;
  height: 66px;
  float: left;
  background-image: url("../img/logoheader.png");
  background-size: contain;
  margin-left: 10px;
}

/* END HEADER */
/* MENU-TOP */
/* line 62, ../sass/app.scss */
.menu {
  float: right;
}
/* line 64, ../sass/app.scss */
.menu a {
  padding: 0 10px;
}
/* line 68, ../sass/app.scss */
.menu a:hover {
  color: yellowgreen;
}

/* END MENU-TOP */
/* Responsive */
/* TEST RESPONSIVE */
@media only screen and (max-width: 952px) {
  /* MENU-HEADER */
  /* line 12, ../sass/responsive.scss */
  .site-pusher, .site-container {
    height: 100%;
  }

  /* line 15, ../sass/responsive.scss */
  .site-container {
    overflow: hidden;
  }

  /* line 18, ../sass/responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 22, ../sass/responsive.scss */
  .site-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: gray;
  }

  /* line 33, ../sass/responsive.scss */
  .header {
    position: static;
  }

  /* line 36, ../sass/responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  /* line 45, ../sass/responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 57, ../sass/responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 66px;
    bottom: 66px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #550514;
    width: 250px;
  }
  /* line 66, ../sass/responsive.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #2e7d32;
  }

  /* line 76, ../sass/responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 79, ../sass/responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /* END MENU-HEADER */
}
@media only screen and (max-width: 700px) {
  /* line 93, ../sass/responsive.scss */
  h1 {
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* line 99, ../sass/responsive.scss */
  .container {
    margin-bottom: 50px;
  }

  /* line 103, ../sass/responsive.scss */
  .list-room {
    width: 375px;
  }

  /* line 107, ../sass/responsive.scss */
  h2 {
    font-size: 1em;
  }

  /* line 111, ../sass/responsive.scss */
  .price {
    font-size: 1em;
  }

  /* line 115, ../sass/responsive.scss */
  .list-description p {
    font-size: 0.75em;
  }

  /* line 119, ../sass/responsive.scss */
  .button-list {
    font-size: 0.75em;
  }

  /* line 123, ../sass/responsive.scss */
  .side-menu {
    width: 90px;
  }

  /* line 127, ../sass/responsive.scss */
  .side-menu li ul li {
    font-size: 0.75em;
  }

  /* line 131, ../sass/responsive.scss */
  .menu {
    font-size: 0.75em;
  }

  /* line 135, ../sass/responsive.scss */
  .footer {
    height: 65px;
    line-height: 25px;
  }

  /* line 141, ../sass/responsive.scss */
  .menu-footer a {
    font-size: 0.75em;
  }

  /* line 147, ../sass/responsive.scss */
  .footer-link-copy span, .footer-link-copy a {
    font-size: 0.75em;
  }
}
@media screen and (min-width: 320px) and (max-width: 417px) {
  /* line 154, ../sass/responsive.scss */
  h1 {
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /* line 160, ../sass/responsive.scss */
  .container {
    margin-bottom: 40px;
  }

  /* line 164, ../sass/responsive.scss */
  .list-room {
    width: 290px;
  }

  /* line 168, ../sass/responsive.scss */
  h2 {
    font-size: 1em;
  }

  /* line 172, ../sass/responsive.scss */
  .price {
    font-size: 1em;
  }

  /* line 176, ../sass/responsive.scss */
  .side-menu {
    width: 70px;
  }

  /* line 180, ../sass/responsive.scss */
  .side-menu li ul li {
    font-size: 0.75em;
  }

  /* line 184, ../sass/responsive.scss */
  .footer {
    height: 55px;
    line-height: 18px;
  }

  /* line 190, ../sass/responsive.scss */
  .menu-footer a {
    font-size: 0.6em;
    margin: 0.6em;
  }

  /* line 197, ../sass/responsive.scss */
  .footer-link-copy span, .footer-link-copy a {
    font-size: 0.6em;
  }
}
/* END TEST REPONSIVE */
/*SIDE-MENU*/
/* line 81, ../sass/app.scss */
.side-menu {
  position: fixed;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  width: 120px;
}

/* line 90, ../sass/app.scss */
.side-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

/* line 97, ../sass/app.scss */
.side-menu li {
  background-color: #6D071A;
  margin-bottom: 2px;
}

/* line 102, ../sass/app.scss */
.side-menu li li {
  max-height: 0;
  overflow: hidden;
  transition: all .5s;
  border-radius: 0;
  background: #6D071A;
  box-shadow: none;
  border: none;
  margin: 0;
}

/* line 113, ../sass/app.scss */
.side-menu a {
  font-family: Roboto;
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: Roboto;
  font-size: 1.2em;
}

/* line 123, ../sass/app.scss */
.side-menu ul li a, .side-menu li:hover li a {
  font-size: 1em;
}

/* line 127, ../sass/app.scss */
.side-menu li li:hover {
  background: yellowgreen;
}

/* line 131, ../sass/app.scss */
.side-menu ul li:last-child {
  border-radius: 0 0 6px 6px;
  border: none;
}

/* line 135, ../sass/app.scss */
.side-menu li:hover li {
  max-height: 15em;
}

/* END SIDE-MENU */
/*Title bottom header*/
/* line 143, ../sass/app.scss */
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 60px;
  margin-bottom: 60px;
  color: whitesmoke;
}

/*List room*/
/* line 154, ../sass/app.scss */
.container-list-room {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 100px;
}

/* line 162, ../sass/app.scss */
.list-room {
  width: 500px;
  background-color: rgba(255, 0, 0, 0.3);
}

/* line 167, ../sass/app.scss */
.list-room-price {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}

/* line 174, ../sass/app.scss */
h2 {
  text-align: center;
  font-size: 1.5em;
}

/* line 179, ../sass/app.scss */
.price {
  font-size: 1.5em;
  align-self: center;
}

/* line 184, ../sass/app.scss */
.img-room {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* line 191, ../sass/app.scss */
.list-description {
  margin-left: 5%;
  margin-right: 5%;
}

/* line 196, ../sass/app.scss */
.list-description p {
  text-align: left;
  font-size: 1em;
  text-align: justify;
  text-justify: inter-word;
}

/* line 203, ../sass/app.scss */
.button-list {
  font-size: 1em;
}

/* line 207, ../sass/app.scss */
a.button-list {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

/* line 221, ../sass/app.scss */
a.button-list:hover {
  color: #000000;
  background-color: #FFFFFF;
  border-left: 0.1em solid rgba(0, 0, 0, 0.3);
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.3);
  border-radius: 0.12em;
}

/*Footer*/
/* line 230, ../sass/app.scss */
.footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  line-height: 33px;
  color: #FFF;
  background-color: black;
}
/* line 241, ../sass/app.scss */
.footer a:hover {
  color: #6D071A;
}

/* line 246, ../sass/app.scss */
.menu-footer {
  display: inline-flex;
  margin: auto;
}
/* line 249, ../sass/app.scss */
.menu-footer a {
  padding: 0;
  font-size: 1em;
}
/* line 253, ../sass/app.scss */
.menu-footer a:hover {
  color: #6D071A;
}

/* line 258, ../sass/app.scss */
.menu-footer a {
  margin-right: 1em;
}

/* line 262, ../sass/app.scss */
.footer-link-copy {
  justify-content: space-around;
  display: inline-flex;
  width: 100%;
  margin: auto;
}
