/* TEST RESPONSIVE */
@media only screen and (max-width: 952px) {
  /* MENU-HEADER */
  /* line 13, ../sass/responsive.scss */
  .site-pusher, .site-container {
    height: 100%;
  }

  /* line 16, ../sass/responsive.scss */
  .site-container {
    overflow: hidden;
  }

  /* line 19, ../sass/responsive.scss */
  .site-pusher {
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 23, ../sass/responsive.scss */
  .site-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: gray;
  }

  /* line 34, ../sass/responsive.scss */
  .header {
    position: static;
  }

  /* line 37, ../sass/responsive.scss */
  .header__icon {
    position: relative;
    display: block;
    float: right;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  /* line 46, ../sass/responsive.scss */
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    -moz-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    -webkit-box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
    box-shadow: 0 10px 0 1px #FFF, 0 16px 0 1px #FFF, 0 22px 0 1px #FFF;
  }

  /* line 58, ../sass/responsive.scss */
  .menu {
    position: absolute;
    left: 0;
    top: 66px;
    bottom: 66px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #550514;
    width: 250px;
  }
  /* line 68, ../sass/responsive.scss */
  .menu a {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #2e7d32;
  }

  /* line 78, ../sass/responsive.scss */
  .with--sidebar .site-pusher {
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 81, ../sass/responsive.scss */
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }

  /* END MENU-HEADER */
}
@media only screen and (max-width: 700px) {
  /* line 96, ../sass/responsive.scss */
  h1 {
    font-size: 1.5em;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* line 102, ../sass/responsive.scss */
  .container {
    margin-bottom: 50px;
  }

  /* line 106, ../sass/responsive.scss */
  .list-room {
    width: 375px;
  }

  /* line 110, ../sass/responsive.scss */
  h2 {
    font-size: 1em;
  }

  /* line 114, ../sass/responsive.scss */
  .price {
    font-size: 1em;
  }

  /* line 118, ../sass/responsive.scss */
  .list-description p {
    font-size: 0.75em;
  }

  /* line 122, ../sass/responsive.scss */
  .button-list {
    font-size: 0.75em;
  }

  /* line 126, ../sass/responsive.scss */
  .side-menu {
    width: 90px;
  }

  /* line 130, ../sass/responsive.scss */
  .side-menu li ul li {
    font-size: 0.75em;
  }

  /* line 134, ../sass/responsive.scss */
  .menu {
    font-size: 0.75em;
  }

  /* line 138, ../sass/responsive.scss */
  .footer {
    height: 65px;
    line-height: 25px;
  }

  /* line 144, ../sass/responsive.scss */
  .menu-footer a {
    font-size: 0.75em;
  }

  /* line 150, ../sass/responsive.scss */
  .footer-link-copy span, .footer-link-copy a {
    font-size: 0.75em;
  }
}
@media screen and (min-width: 320px) and (max-width: 417px) {
  /* line 157, ../sass/responsive.scss */
  h1 {
    font-size: 1.2em;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  /* line 163, ../sass/responsive.scss */
  .container {
    margin-bottom: 40px;
  }

  /* line 167, ../sass/responsive.scss */
  .list-room {
    width: 290px;
  }

  /* line 171, ../sass/responsive.scss */
  h2 {
    font-size: 1em;
  }

  /* line 175, ../sass/responsive.scss */
  .price {
    font-size: 1em;
  }

  /* line 189, ../sass/responsive.scss */
  .side-menu {
    width: 70px;
  }

  /* line 193, ../sass/responsive.scss */
  .side-menu li ul li {
    font-size: 0.75em;
  }

  /* line 201, ../sass/responsive.scss */
  .footer {
    height: 55px;
    line-height: 18px;
  }

  /* line 207, ../sass/responsive.scss */
  .menu-footer a {
    font-size: 0.6em;
    margin: 0.6em;
  }

  /* line 214, ../sass/responsive.scss */
  .footer-link-copy span, .footer-link-copy a {
    font-size: 0.6em;
  }
}
/* END TEST REPONSIVE */
